*{
	padding:0px;
	margin:0px;
}
.currentTeaching .container {
	text-align: center;
	margin-left: 150px;
	margin-left: 150px;
}
.course-year-text {
    color: rgba(47,79,79, 0.8);
    text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #FFF;
    font-weight: 600;
}

.contact {
	display: inline-flex;
}

.contact-me {
	width: 100%
}
.course {
	text-align: center;
}
.course .container{
	text-align: center;
	max-width: 600px;
	padding-left: 225px;
}


.currentTeaching .container hr {
	text-align:  center;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-left: 150px;
	margin-right: 125px;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	font-family: Roboto;
	display: inline-block;
  }



.main .bio h2, .main .contact-me h2{
	font-weight: 100; 
	font-size: 40px;
	margin-left: 100px;
}
.main .bio p, .main .contact-me p{
	margin-left: 100px;
	margin-right:100px;
}

.lists hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.main .bio hr, .main .contact-me hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-left: 125px;
	margin-right: 125px;
}
.lists h3{
	text-align: center; 
	font-weight: 200; 
	font-size: 25px;
}


.main .bio, .main .contact-me{
	margin-left: 225px;
	background-color: #F5F5F5;

}


.main .lists .academicEx{
	float: left;
	margin-left: 350px;
	margin-top: 90px;
	max-width: 300px;
	
}

.main .lists .education{
	float: right;
	margin-left: 100px;
	margin-top: 90px;
	max-width: 300px;
	margin-right: 220px;
}
.main .lists li{
	text-align: center;
	padding: 20px;
	list-style-type: none;
}


.sidebar {
	height: 100vh;
	position: absolute;
	display: inline-block;
}



.sidebar .container {

	
	max-width: 250px;
	background-color:	#282828;
	color: lightgray;
	text-align: center;
}

.sidebar .container h1 {
	margin: 5px 5px 5px 5px;
	font-size: 20px;
	font-family: Roboto;
}


.sidebar .container h2 {
	margin: 5px 5px 5px 5px;
	font-size: 18px;
	color:#A8A8A8;
	font-family: Roboto;

}


.sidebar .container h3 {
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	font-weight: normal;
	font-family: Roboto;
	color: 	#707070;

}

.sidebar .container img {

	max-width: 125px;
	border-radius: 50%;

}

.sidebar-navigation .container a:hover{
	color: #FFF;
}

.sidebar-navigation .container .sidebar-nav-link:hover{
	background-color:#484848;

}

.sidebar-navigation .container .sidebar-nav-link li{
	text-align: center;
	padding-top: 20px;
	
}

.sidebar-navigation .container .sidebar-nav-link{
	
	margin-top: 0.4px;
	height: 50px;
	background-color: #383838;
}

.sidebar-navigation .container ul {
	list-style-type: none;
	font-family: Roboto;

}

.sidebar-navigation .container {
	text-decoration: none;
	text-align: left;
}


.sidebar-footer .container {
	background-color:#1a1a1a;
}

.sidebar .container a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: lightgray;


}
.sidebar-footer .container ul{
	list-style-type: none;
	margin-right: 60px;
}

.sidebar-footer .container li{
	text-align: left;
	display: inline;
	padding-left: 10px;

}
